<div th:fragment="html">
    <script>
        $(function(){
            var data4Vue = {
                uri:'forelogin',
                result: [],
                user:{name:'', password:''}
            };
            //ViewModel
            var vue = new Vue({
                el: '#workingArea',
                data: data4Vue,
                mounted:function(){

                },
                methods: {
                    "login":function(){
                        var url =  this.uri;
                        if(0==this.user.name.length){
                            $("span.errorMessage").html("请输入用户名");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }
                        if(0==this.user.password.length){
                            $("span.errorMessage").html("请输入密码");
                            $("div.registerErrorMessageDiv").css("visibility","visible");
                            return;
                        }

                        axios.post(url,this.user).then(function(response) {
                            var result = response.data;
                            if(result.code==0){
                                alert("登录成功，即将跳转到首页");
                                location.href="home";
                            }
                            else{
                                $("span.errorMessage").html("验证错误，请输入正确的邮箱和密码！");
                            }
                        });
                    }
                }
            });
        })
    </script>
    <div class="page login-page" id="workingArea">
        <div class="container d-flex align-items-center">
            <div class="form-holder has-shadow">
                <div class="row">

                    <!-- Form Panel    -->
                    <div class="col-lg-6" style="margin-left: 285px;margin-top:50px">

                        <div class="form d-flex align-items-center" align="center">

                            <div class="content">
                                <div class="logo">
                                    <h1>欢迎来到场地订购租赁网</h1>
                                </div>
                                <p>赶快登录体验吧！</p>
                                <div class="registerErrorMessageDiv">
                                    <div class="alert alert-info" role="alert">
                                        <span class="errorMessage">为保护个人隐私，输入邮箱和密码前请确保周围没人</span>
                                    </div>
                                </div>

                                <table class="loginTable">
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                用户名
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input v-model="user.name" placeholder="请输入您的用户名" class="input-material">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <div class="form-group">
                                                密码
                                            </div>
                                        </td>
                                        <td>
                                            <div class="form-group">
                                                <input v-model="user.password"  type="password"  placeholder="请输入密码" class="input-material">
                                            </div>
                                        </td>
                                    </tr>
                                </table>
                                <div class="form-group" align="center">
                                    <button  @click="login" type="submit" class="btn btn-primary">登录</button>
                                </div>
                                <small>还没有账号? </small><a href="register" class="signup">注册</a>
                                <div><small>忘记密码? </small><a href="updatepd" class="signup">重置密码</a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    </body>
</div>