<div class th:fragment="html">
	<div class="searchProducts">
		<div class="productUnit" price="${p.promotePrice}" v-for="p in products" >
			<a :href="'product?pid='+p.id">
				<img class="productImage" :src="'img/productSingle/'+p.firstProductImage.id+'.jpg'">
			</a>
			<a class="productItemDescLink" :href="'product?pid='+p.id">
									<span class="productItemDesc">名称：
									{{p.name | subStringFilter(0,20)}}
									</span>
			</a>
			<a class="productItemDescLink" :href="'product?pid='+p.id">
				                    <span class="productItemDesc2">
									{{p.subTitle | subStringFilter(0,28)}}
									</span>
			</a>
			<span class="productPrice">
									{{p.promotePrice | formatMoneyFilter}} 起
                </span>

			<div class="show1 productInfo">
				<span class="monthDeal ">剩余量 <span class="productDealNumber">{{p.stock}}</span></span>
				<span class="productReview">原价 <span class="productReviewNumber">{{p.originalPrice}}</span></span>
				<span class="wangwang">
                        <a class="wangwanglink" href="#nowhere">
                            <img src="img/site/chat2.png" style="width: 22px;height: 22px">
                        </a>
                    </span>
			</div>

		</div>

		<div v-if="0 == products.length" class="noMatch">没有搜索到满足条件的场地</div>

		<div style="clear:both"></div>
	</div>
</div>
	
